transformers
accelerate
jinja2
sentence-transformers
pandas
numpy
scikit-learn
bitsandbytes
matplotlib
kagglehub
nltk
wordcloud
gensim
pyldavis
plotly
xgboost
requests
streamlit
huggingface_hub
openai
